.header{
    padding: 2rem;
    background-color: $azul;
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include tablet{
            flex-direction:row;
            .navegacion-principal{
                display: flex;
            }
        }
        h2{
            span{
                font-weight: $bold;
            }
            color: $blanco;
        }
        .navegacion-principal{
            gap: 4rem;
        }
    }    
}

.navegacion-principal{
    @include tablet{
        .button-green,.button-yellow{
            display: block;
        }
    }
}

