.main{
    padding: 0 0 4rem 0;
}
.task-container{
    @include grid(1,2rem);

    @include tablet{
        @include grid(2,2rem);
    }
    @include desktop{
        @include grid(3,2rem);
    }
}

.task{
    background-color: darken($color: $blanco, $amount: 5);
    padding: 3rem;
}